/* TODO: find standard styling for other FF things and match, or at least make this not ugly */
.button-container {
    width: 100%;
    height: 50px;
    display: table;
    border-colapse: separate;
    border-spacing: 0px;
}

.buttonBlue {
  background-color: #4cb1f5;
  width: 100px;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
.buttonBlue:hover {
    background-color: #31a6f5;
}

.buttonGray {
  background-color: #d9d9d9;
  width: 100px;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
.buttonGray:hover {
    background-color: #b5b5b5;
}

.paragraph {
    width: 300px;
    padding-right: 25px;
    padding-left: 25px;
}

